* {
	box-sizing: border-box;
	background-color: black;
	color: white;
}

body {
	margin: 1em;
	font: 2em/1 sans-serif;
}

button {
    cursor: pointer;
    padding: .5em;
    border-radius: .1em;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    color: #fff;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
}

.hide {
    display: none;
}

/*Menu Items*/

.action main section > article:nth-of-type(2),
.action main section > article:nth-of-type(3),
.action main section > article:nth-of-type(4),
.action main section > article:nth-of-type(5),
.action main section > article:nth-of-type(6){
	display: none;
}

.adventure main section > article:nth-of-type(1),
.adventure main section > article:nth-of-type(3),
.adventure main section > article:nth-of-type(4),
.adventure main section > article:nth-of-type(5),
.adventure main section > article:nth-of-type(6){
	display: none;
}


.crime main section > article:nth-of-type(1),
.crime main section > article:nth-of-type(2),
.crime main section > article:nth-of-type(4),
.crime main section > article:nth-of-type(5),
.crime main section > article:nth-of-type(6) {
	display: none;
}


.drama main section > article:nth-of-type(1),
.drama main section > article:nth-of-type(2),
.drama main section > article:nth-of-type(3),
.drama main section > article:nth-of-type(5),
.drama main section > article:nth-of-type(6){
	display: none;
}


.horror main section > article:nth-of-type(1),
.horror main section > article:nth-of-type(2),
.horror main section > article:nth-of-type(3),
.horror main section > article:nth-of-type(4),
.horror main section > article:nth-of-type(6) {
	display: none;
}


.thriller main section > article:nth-of-type(1),
.thriller main section > article:nth-of-type(2),
.thriller main section > article:nth-of-type(3),
.thriller main section > article:nth-of-type(4),
.thriller main section > article:nth-of-type(5) {
	display: none;
}



span {
	color: green;
	margin: 0;
	padding: 1em;
	width: calc(6 * 450px);
	list-style-position: inside;
	transition: all 1s ease;
	display: none;
}


.show {
	display: flex;
	transition: 2s;
}

.menu {
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

header ul {
	display: none;
}


.menu-item a {
	color: #fff;
	font-size: .5em;
	font-weight: bolder;
	text-decoration: none;
	transition: all 0.8s ease;
	list-style-type: none;
}


.genres a {
	color: goldenrod;
	font-size: .8em;
	font-weight: bolder;
	text-decoration: none;
	transition: all 0.8s ease;
	list-style-type: none;
}

.menu-item a:hover {
	color: goldenrod;
}

li, ul {
    margin-top: 1em;
    font-size: 1em;
    list-style: none;
	color: white;
    margin-top: 1em;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}


/*Titel*/

h1 {
	font-size: 1em;
	font-family: serif;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: goldenrod;
}

/*Boek*/

h2 {
	font-size: .8em;
	font-family: cursive;
	text-align: left;
	margin-left: 2em;
	color: goldenrod;
}

h3 {
	font-size: .6em;
	font-family: fantasy;
	font-style: italic;
	font-weight: 100;
	text-align: center;
}

article {
	width: 25%;
	margin: 3%;
	min-height: 15em;
	max-height: 25em;
	margin-bottom: 10%;
	text-align: center;
	margin-bottom: 6em;
}

article img {
	width: auto;
	height: 50%;
	filter: sepia(1);

}

article img:hover {
	filter: sepia(0);
	transition: 2s;
}

article p {
	font-size: .5em;
	text-align: left;
	margin-left: 3em;
}

article > p.show:nth-of-type(4) {
    display: inline-block;
}

article > p:nth-of-type(4) {
    display: none;
}



article button {
	background-color: goldenrod;
	height: 3em;
	padding: 0 2em;
	font-size: .5em;
	color: white;
	margin-top: 1em;
	border-radius: .1em;
}

article li {
	margin-top: 1em;
	font-size: .4em;
	list-style: none;
}

s
